h1{
    text-align: center;
    margin: 12px 0px;
    padding: 25px;
}
.mylabel{
    margin-right: 519px;
    font-size: 18px;
    font-family: 'Yeon Sung';
}
.container-box{
    background-color: #b9d1df;
    top:50px;
    min-height: 80vh;
}
.container-box ::before {
    content: "";
    position: absolute;
    background-color: #b9d1df;
    height: 642px;
    top: 50px;
    left: 7px;
    width: 99%;
    z-index: -2;
}
.myForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.myInput{
font-size: 16px;
padding: 5px;
width: 40%;
margin: 10px;
border: 2px solid #9d8e8e;
border-radius: 12px;
outline: none;
}
.btn1{
    margin: 12px 12px;
    padding: 6px 9px;
    font-size: 17px;
    border: 2px solid #090606;
    background-color: #dbcfd4bd;
    color: rgb(19 9 110);
    border-radius: 17px;
    cursor: pointer;
}
.btn2{
    margin: 12px 12px;
    padding: 7px 10px;
    font-size: 17px;
    border-radius: 17px;
    border: 2px solid #090606;
    background-color: #dbcfd4bd;
    color: rgb(19 9 110);
    cursor: pointer;

}

#footer{
    background: black;
    color: white;
    margin-top: 45px;
    padding: 1px 19px;
}
.content {
    margin-left: 432px;
}