#intro {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 302px;
    justify-content: center;
    align-items: center;
    margin: -40px 2px;
}
#intro::before {
    content: "";
    position: absolute;
    background: url(/static/images/home.jpg) no-repeat center center/cover;
    height: 655px;
    top: 50px;
    left: 8px;
    width: 99%;
    z-index: -2;
}
#intro h1 {
    background: #f63737;
    font-family: 'ZCOOL QingKe HuangYou';
    color: rgb(223, 209, 209);
    font-size: 50px;
    padding: 4px 224px;
}
.dropbtn {      
    background-color: white;
    color: grey;
    margin-top: 112px;
    margin-left: 254px;
    padding: 12px 106px;
    font-size: 16px;
    border: 1px solid #ddd;
  }
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    margin-left: 254px;
    display: none;
    position: absolute;
    background-color: #f2eded;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: white;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: white;}

.dropbtn2 {    
    background-color: white;
    color: grey;
    margin-bottom: 112px;
    margin-left: 29px;
    padding: 12px 106px;
    font-size: 16px;
    border: 1px solid #ddd; }
  
.dropdown2 {
    position: relative;
    display: inline-block;
}

.btn{
    padding: 6px 10px;
    background-color: #ec0000bd;
    color: rgb(240 240 252);
    margin: 17px;
    font-size: 0.95rem;
    border-radius: 10px;
    cursor:pointer;
}
#footer{
    background: black;
    color: white;
    margin-top: 142px;
    padding: 1px 19px;
}
.content {
    margin-left: 432px;
}